.Overlay {
    color: #000;

    &__background {
        background-color: #fff;
    }

    &__content {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }

    &__topBarActionClose {
            /*width 28px
            height 28px
            -webkit-mask-image url('/assets/cross.svg')
            -webkit-mask-repeat no-repeat
            -webkit-mask-size 28px
            -webkit-mask-position center
            background-color inherit*/
            top 4px
            
            top: 0px;
            /*background: red;*/
            right: 40px;
            /*width: 80px;*/
            opacity: 1;
            cursor: pointer;
    }

    &_Type_sideBottom {
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 800px;
        bottom:0;
        margin: 0 auto;
    }
}


@media $screen-phone {
    .Overlay {

        &_Type_sideBottom {
            width: initial !important;
        }
    }    
}


.Overlay
    topbar-height = 80px
    animation-time = 300ms

    /**
     * Style
     */
    position absolute
    z-index 2

    &_Type

        &_sideBottom
            min-height 300px
            
            margin 0 auto
            top 0

            &.Overlay_State
                &_active
                    animation-duration animation-time
                    animation-fill-mode forwards
                    animation-name OverlayModalPush

                &_release
                    animation-duration animation-time
                    animation-fill-mode forwards
                    animation-name OverlayModalPop
                    /*animation-timing-function ease-in-out*/

        &_modal
            left 50%
            min-height 300px
            margin 100px 0
            width 600px
            height auto
            top 0

            @media $screen-phone
                left 0
                width initial
                margin 0 0
                height 100%

            &.Overlay_State
                &_active
                    animation-duration animation-time
                    animation-fill-mode forwards
                    animation-name OverlayModalPush
                    animation-timing-function ease-in-out
                &_release
                    animation-duration animation-time
                    animation-fill-mode forwards
                    animation-name OverlayModalPop
                    animation-timing-function ease-in-out

            .Overlay__background
            .Overlay__content
                border-radius radius-outside

            .Overlay__content
                position relative
                top 40px

    &__topBar
        z-index 4
        position absolute
        top 0
        left 0
        right 0
        height topbar-height

    &__topBarAction
        z-index 2
        position absolute
        top 0
        font-family adobe-garamond-pro, serif
        font-weight 400
        font-size 20px
        font-style italic
        letter-spacing .5
        font-weight 400
        height topbar-height
        line-height topbar-height @css{!important}

        .icon
            vertical-align top
            width topbar-height
            height topbar-height

    &__topBarActionBack
        left 0

    &__topBarActionClose
        top 0px

    &__topBarActionLabel
        display inline-block
        margin-left -1.4ex
        color #617267

    &__topBarTitles
        position absolute
        z-index 1
        left 0
        right 0
        top 0
        bottom 0
        text-align left
        display flex
        flex-direction column
        justify-content center

    &__background
        z-index 2
        position absolute
        top 0
        bottom 0
        left 0
        right 0

    &__content
        z-index 3
        position absolute
        overflow auto
        top 0
        left 0
        bottom 0
        right 0
        padding 30px
        border-radius 12px


    @keyframes OverlayExtend
        0%
            opacity 0
            transform translate3d(0px, 0px, 0px) scale(.85)
        100%
            opacity 1
            transform translate3d(0px, 0px, 0px) scale(1)

    @keyframes OverlaySidePop
        0%
            transform translate3d(0px, 0px, 0px)
        100%
            transform translate3d(100vw, 0px, 0px)

    /* Side */
    @keyframes OverlaySidePush
        0%
            transform translate3d(100vw, 0px, 0px)
        100%
            transform translate3d(0px, 0px, 0px)

    @keyframes OverlaySidePop
        0%
            transform translate3d(0px, 0px, 0px)
        100%
            transform translate3d(100vw, 0px, 0px)

    /* SideBottom */
    @keyframes OverlaySideBottomPush
        0%
            opacity 0
        100%
            opacity 1

    @keyframes OverlaySideBottomPop
        0%
            opacity 1
        100%
            opacity 0

    /* Expand */
    @keyframes OverlayBackgroundExpandPush
        0%
            opacity 0
        100%
            opacity 1

    @keyframes OverlayBackgroundExpandPop
        0%
            opacity 1
        100%
            opacity 0

    @keyframes OverlayTopBarExpandPush
        0%
            transform translate3d(0px, - topbar-height, 0px)
        100%
            transform translate3d(0px, 0px, 0px)

    @keyframes OverlayTopBarExpandPop
        0%
            transform translate3d(0px, 0px, 0px)
        100%
            transform translate3d(0px, - topbar-height, 0px)

    /* Partsideleft */
    @keyframes OverlayPartsideleftPush
        0%
            transform translate3d(-100vw, 0px, 0px)
        100%
            transform translate3d(0px, 0px, 0px)

    @keyframes OverlayPartsideleftPop
        0%
            transform translate3d(0px, 0px, 0px)
        100%
            transform translate3d(-100vw, 0px, 0px)

    /* Custom */
    @keyframes OverlayCustomPush
        0%
            display block
        100%
            display block

    @keyframes OverlayCustomPop
        0%
            display block
        100%
            display block

    /* Modal */
    @keyframes OverlayModalPush
        0%
            opacity 1
            transform translate3d(0px, 10px, 0px) scale(.96)
        100%
            opacity 1
            transform translate3d(0px, 0px, 0px) scale(1,1)

    @keyframes OverlayModalPop
        0%
            opacity 1
            transform translate3d(0px, 0px, 0px) scale(1,1)
        100%
            opacity 0
            transform translate3d(0px, 10px, 0px) scale(.96)



    /* Bottom */
    @keyframes OverlayBottomPush
        0%
            opacity 1
            transform translate3d(0px, 20vh, 0px)

        100%
            opacity 1
            transform translate3d(0px, 0px, 0px)

    @keyframes OverlayBottomPop
        0%
            opacity 1
            transform translate3d(0px, 0px, 0px)
        100%
            opacity 1
            transform translate3d(0px, 20vh, 0px)

