@font-face
    font-family 'ARKDiatypeMono'
    src url('../../assets/font/ARKDiatype/ARKDiatypeMono-Light.woff2') format('woff2'), 
    url('../../assets/font/ARKDiatype/ARKDiatypeMono-Light.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'JetBrains'
    src url('../../assets/font/jetbrains/JetBrainsMono-Regular.woff2') format('woff2'), 
    url('../../assets/font/jetbrains/JetBrainsMono-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'ASM'
    src url('../../assets/font/asm/ASM-Regular.woff2') format('woff2'), 
    url('../../assets/font/asm/ASM-Regular.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Plaex'
    src url('../../assets/font/plaex/ibmplaexmono-regular-webfont.woff2') format('woff2'), 
    url('../../assets/font/plaex/ibmplaexmono-regular-webfont.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'OCR'
    src url('../../assets/font/asm/OCR.woff2') format('woff2'), 
    url('../../assets/font/asm/OCR.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
  font-family: 'NB'
  src: url('../../assets/font/nb2/nb.woff') format('woff2'),
         url('../../assets/font/nb2/nb.woff2') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@import url('https://db.onlinewebfonts.com/c/781bc78d102a85d51a4e41734c2fe072?family=F');

@import url('https://fonts.cdnfonts.com/css/ocr-a-bt');

$screen-phone = 'screen and (max-width: 767px)'

background = #DADADA
background-muted = #303C3B
background-gray = #A1A6AA
foreground = #000
red = #E72305
charcoal = #1E1E1E
white = #fff

gap = 1vw
gapx = 4vw

cursor()
    cursor url('/assets/cursor.svg'), auto   

times()
    font-family 'Times New Roman'

superheader()
    font-size 5vw
    @media $screen-phone
        font-size 60px
        line-height 60px

header()
    text-transform uppercase
    font-size 2.8vw
    line-height 3vw
    @media $screen-phone
        font-size 40px
        line-height 48px

body()
    font-size 1.1vw
    line-height 1.6vw
    @media $screen-phone
        font-size 20px
        line-height 28px


radius = .5vw

radius()
    border-radius .5vw
    @media $screen-phone
        border-radius 12px

gridX()
    padding 0 gapx
    @media $screen-phone
        padding 0 20px

@font-face
  font-family: 'FoundersGrotesk'
  src: url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.eot')
  src: url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.woff2') format('woff2'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.woff') format('woff'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.ttf') format('truetype'),
       url('../../assets/font/FoundersGrotesk/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular.svg') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Microgramma'
  src: url('../../assets/font/Microgramma/MicrogrammaNormal.eot')
  src: url('../../assets/font/Microgramma/MicrogrammaNormal.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.woff2') format('woff2'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.woff') format('woff'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.ttf') format('truetype'),
       url('../../assets/font/Microgramma/MicrogrammaNormal.svg#MicrogrammaNormal') format('svg')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Microgramma D'
  src: url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.eot')
  src: url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.woff2') format('woff2'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.woff') format('woff'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.ttf') format('truetype'),
       url('../../assets/font/MicrogrammaD-BoldExte/MicrogrammaD-BoldExte.svg#MicrogrammaD-BoldExte') format('svg')
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Univers-Light-Normal'
  src: url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.eot')
  src: url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.eot?#iefix') format('embedded-opentype'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.woff2') format('woff2'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.woff') format('woff'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.ttf') format('truetype'),
       url('../../assets/font/Univers-Light-Normal/Univers-Light-Normal.svg#Univers-Light-Normal') format('svg')
  font-weight: 300
  font-style: normal
  font-display: swap